<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="/vendor/prism/prism.css" rel="stylesheet" />
	</head>
	<body>
		{{{body}}}
		<script src="/vendor/prism/prism.js"></script>
	</body>
</html>
